---
Checks: "-*,\
bugprone-*,\
misc-*,\
-misc-incorrect-roundings,\
-misc-macro-parentheses,\
-misc-misplaced-widening-cast,\
-misc-static-assert,\
modernize-*,\
-modernize-deprecated-headers,\
-modernize-pass-by-value,\
-modernize-raw-string-literal,\
-modernize-return-braced-init-list,\
-modernize-use-auto,\
-modernize-use-default-member-init,\
-modernize-use-emplace,\
-modernize-use-equals-default,\
-modernize-use-equals-delete,\
-modernize-use-noexcept,\
-modernize-use-transparent-functors,\
-modernize-use-trailing-return-type,\
-modernize-use-using,\
performance-*,\
-performance-inefficient-string-concatenation,\
readability-*,\
-readability-function-size,\
-readability-identifier-naming,\
-readability-implicit-bool-cast,\
-readability-inconsistent-declaration-parameter-name,\
-readability-named-parameter,\
-readability-redundant-declaration,\
-readability-redundant-member-init,\
-readability-simplify-boolean-expr,\
"
HeaderFilterRegex: '(src|gen)/.*\.(h|hh|hxx|c|cc|cxx|cpp|hpp)$'
WarningsAsErrors: '*'
FormatStyle: 'file' # use .clang-format

# Configure the variables to ignore for the 'too short' check.
# x, y, i -> common indexing variables
# fp, fd -> common file descriptors
# yy -> bison/flex syntax
IgnoredVariableNames: 'x|y|i|fp|fd|yy'

